* {
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgb(44, 89, 83);
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
  background-color: rgb(175, 208, 199);
}

h1, h2 {
  text-transform: uppercase;
  padding: 10px;
  margin: 0;
}

.content {
  display: flex;
}

.content__left-column {
  flex-basis: 35%;
  background-color: rgb(175, 208, 199);
}

.wrap {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
}

.block {
  margin-top: 10px;
}

.avatar {
  width: 200px;
  height: 200px;
  margin: 150px 2px 2px 0;
  outline: 5px solid transparent;
  padding: 15px;;
  border: 5px solid rgb(44, 89, 83);
}

.contacts {
  margin: 0;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
}
