* {
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgb(21, 46, 51);
}

.content {
  display: flex;
}

.content__left-column {
  flex-basis: 35%;
  background-color: rgb(175, 208, 199);
  margin: 0 auto;
}

.content__right-column {
  margin: 0 auto;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.avatar {
  width: 200px;
  height: 200px;
  margin: 5px 2px 2px 5px;
  box-shadow: 2px 2px 5px 5px rgb(247, 247, 247);
}

section {
  background-color: rgb(250, 230, 208);
  margin-top: 10px;
  padding: 10px;
}
